In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
# data.sample(5)

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.sort_values('budget', ascending=False).head(1).original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' #+

In [9]:
df = data.copy()
df[df.runtime == df.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' #+

In [11]:
df = data.copy()
df[df.runtime == df.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110' #+

In [13]:
df = data.copy()
df.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. 107' #+

In [15]:
df = data.copy()
df.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = '5. Avatar (tt0499549)' #+

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
df = data.copy()
df['profit'] = df.revenue - df.budget
df[df.profit == df.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '5. The Lone Ranger (tt1210819)' #+

In [19]:
df = data.copy()
df['profit'] = df.revenue - df.budget
df[df.profit == df.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1. 1478' #+

In [21]:
df = data.copy()
len(df[df.revenue > df.budget])

1478



# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = '4 . The Dark Knight (tt0468569)' #+

In [23]:
df = data.copy()
target_revenue = df[df.release_year == 2008].revenue.max()
df[df.revenue == target_revenue].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '5.The Lone Ranger (tt1210819)' #+

In [25]:
df = data.copy()
df['profit'] = df.revenue - df.budget
target_profit = df[df['release_year'].isin([2012,2013,2014])].profit.min()
df[df.profit == target_profit].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = '3. Drama' #+

In [27]:
0# если будешь добавлять функцию - выноси ее в предобработку что в начале
df = data.copy()
pd.DataFrame(df.genres.str.split('|').tolist()).stack().value_counts().head(1)

Drama    782
dtype: int64

### ВАРИАНТ 2

In [28]:
df = data.copy()
genres=set()
for x in data.genres.apply(lambda x: x.split('|')):
 genres = genres.union(x)

genres_counts=[ ( len(df[data.genres.str.contains(x)]) , x) for x in genres]
genres_counts.sort(reverse=True)
genres_counts[:1]

[(782, 'Drama')]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = '1.Drama' #+

In [30]:
df = data.copy()
df['profit'] = df.revenue - df.budget
genres_counts2=[(len(df[(df.genres.str.contains(x)) & (df.profit > 0) ]) , x) for x in genres]
genres_counts2.sort(reverse=True)
genres_counts2[0]

(560, 'Drama')

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [31]:
answers['13'] = '5. Peter Jackson' #+

In [32]:
df = data.copy()
df.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

ВАРИАНТ 2

In [33]:
summa = df.groupby(['director'])['revenue'].sum()
summa.nlargest(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
answers['14'] = '3.Robert Rodriguez' #+

In [35]:
df = data.copy()
directors = list(df[df.genres.str.contains('Action')].director.str.split('|'))
pd.DataFrame(directors).stack().value_counts().head(1)

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
answers['15'] = '3. Chris Hemsworth' #+

In [37]:
df = data.copy()
count = Counter()

def count_revenue(row):
    for actor in row.cast.split('|'):
        count[actor] += row.revenue

df.query('release_year == 2012').apply(count_revenue, axis=1)
count.most_common(1)

[('Chris Hemsworth', 2027450773)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
answers['16'] = '3. Matt Damon' #+

In [39]:
df = data.copy()
actors = set()
for x in df.cast.apply(lambda x: x.split('|')):
    actors = actors.union(x)
big_middle = df['budget'].mean()
actors_count = [(len(df[(df.budget >= big_middle) & (df.cast.str.contains(x))]), x) for x in actors]
actors_count.sort(reverse = True)
actors_count[:1]

[(18, 'Matt Damon')]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
answers['17'] = '2. Action' #+

In [41]:
df = data.copy()
count_genres = Counter()

for x in df.loc[df['cast'].str.contains('Nicolas Cage')]['genres'].str.split('|'):
    count_genres += Counter(x)

count_genres.most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #+

In [43]:
df = data.copy()
movie_studios = set()
for x in df.production_companies.apply(lambda x: x.split('|')):
    movie_studios = movie_studios.union(x)
    
set([ x[1] for x in movie_studios if x[1].find('Paramount') != -1])
df['profit'] = df.revenue - df.budget
df[df.production_companies.str.contains('Paramount Pictures')].sort_values(by='profit', ascending=True)[['profit', 'original_title']].head(1)

       profit        original_title
925 -64831034  K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
answers['19'] = '5. 2015' #+

In [45]:
df = data.copy()
df['profit'] = df.revenue - df.budget
df.groupby('release_year').agg('sum')['profit'].nlargest(1)

release_year
2015    18668572378
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
answers['20'] = '1. 2014' #+

In [47]:
df = data.copy()
df['profit'] = df.revenue - df.budget
films_Warner = df.loc[df['production_companies'].apply(lambda x: 'Warner Bros' in x)]
group_year = films_Warner.groupby(['release_year'])['profit'].sum()
group_year.sort_values().nlargest(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
answers['21'] = '4. Сентябрь' #+

In [49]:
df = data.copy()
df['release_month'] = pd.to_datetime(df.release_date).apply(lambda x: x.month)
df.groupby('release_month')['imdb_id'].count().nlargest(1)

release_month
9    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
answers['22'] = '2. 450' #+

In [51]:
# df = data.copy()
df['release_month'] = pd.to_datetime(df.release_date).apply(lambda x: x.month)
len(df[df.release_month.isin([6, 7, 8])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [52]:
answers['23'] = '1. Steven Soderbergh' #+

In [53]:
df = data.copy()
df['release_month'] = pd.to_datetime(df.release_date).apply(lambda x: x.month)

winter = df[df.release_month.isin([1, 2, 12])].groupby('director')[['imdb_id']].count().sort_values('imdb_id', ascending=False)
spring = df[df.release_month.isin([3, 4, 5])].groupby('director')[['imdb_id']].count().sort_values('imdb_id', ascending=False)
summer = df[df.release_month.isin([6, 7, 8])].groupby('director')[['imdb_id']].count().sort_values('imdb_id', ascending=False)
autumn = df[df.release_month.isin([9, 10, 11])].groupby('director')[['imdb_id']].count().sort_values('imdb_id', ascending=False)

two_seasons = pd.merge(winter, spring, left_index=True, right_index=True, how='left')
three_seasons = pd.merge(two_seasons, summer, left_index=True, right_index=True, how='left')
four_seasons = pd.merge(three_seasons, autumn, left_index=True, right_index=True, how='left')
four_seasons.columns = ['winter', 'spring', 'summer', 'autumn']

four_seasons.sort_values('winter', ascending=False).head(1)

               winter  spring  summer  autumn
director
Peter Jackson       7     NaN     NaN     1.0

### Вариант 2

In [54]:
df = data.copy()

def month_to_season(month):
    seasons = {
        12: 'winter',
        1: 'winter',
        2: 'winter',
        3: 'spring',
        4: 'spring',
        5: 'spring',
        6: 'summer',
        7: 'summer',
        8: 'summer',
        9: 'autumn',
        10: 'autumn',
        11: 'autumn',
    }  
    return seasons[month]

df['release_month'] = pd.to_datetime(df.release_date).apply(lambda x: x.month)
df['season'] = df.release_month.apply(month_to_season)

def directors(row):
    for director in row.director.split('|'):
        return director, row.season

df = pd.DataFrame(df.apply(directors, axis=1).tolist(), columns=['director', 'season'])
df['count'] = 1
df = pd.pivot_table(df, index='director', columns='season', values='count', aggfunc='sum')

df.sort_values('winter', ascending=False).head(1)

season         autumn  spring  summer  winter
director
Peter Jackson     1.0     NaN     NaN     7.0

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [55]:
answers['24'] = '5. Four By Two Productions' #+

In [56]:
df = data.copy()
movie_studios=[]
for index, d in df.iterrows():
    movie_studios +=  [(d.imdb_id, x) for x in d.production_companies.split('|')]

studios = pd.DataFrame(movie_studios, columns=['imdb_id', 'studio'])
df['nlen'] = df.original_title.apply(len)
studios.merge(df, on='imdb_id').groupby('studio').agg('mean').nlen.nlargest(1)

studio
Four By Two Productions    83.0
Name: nlen, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [57]:
answers['25'] = '3. Midnight Picture Show' #+

In [58]:
df = data.copy()
df['overview_len'] = df.overview.apply(lambda x: len(x.split()))
studios = pd.DataFrame(movie_studios, columns=['imdb_id', 'studio'])
studios.merge(df[['imdb_id', 'overview_len']], on='imdb_id').groupby('studio').agg('mean').sort_values('overview_len', ascending=False).head(1)

                       overview_len
studio
Midnight Picture Show         175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [59]:
answers['26'] = '1.Inside Out, The Dark Knight, 12 Years a Slave ' #+

In [60]:
df = data.copy()
df.sort_values( by = 'vote_average',ascending = False).head(int(len(df)* 0.01)+1)['original_title']

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [61]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' #+

In [62]:
df = data.copy()
couple_actors = Counter()
for i, row in df.iterrows():
    actors = row.cast.split('|')
    couple_actors.update([ x for x in combinations(actors, 2)])
couple_actors.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [63]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4 . The Dark Knight (tt0468569)',
 '10': '5.The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1.Drama',
 '13': '5. Peter Jackson',
 '14': '3.Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '1. Steven Soderbergh',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1.Inside Out, The Dark Knight, 12 Years a Slave ',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [64]:
# и убедиться что ни чего не пропустил)
len(answers)

27